{% extends "base1.html" %}
{% load static %}

{% block content %}
<div class="container my-5" id="reg">
    <div class="form-container">
        <div class="form-content">
            <h2>Reset Password</h2>
            <form method="post" action="{% url 'reset_password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" required>
                </div>
                <button type="submit" class="btn btn-custom">Reset Password</button>
            </form>
            <p id="reset_error" class="text-danger text-center"></p>
        </div>
    </div>
</div>
{% endblock content %}
