{% extends "base1.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
        
    <!-- ################# Slider Starts Here#######################--->

    <!--*************** About Us Starts Here ***************-->
   <section id="about" class="contianer-fluid about-us">
       <div class="container">
           <div class="row session-title">
               <h2>About Us</h2>
               <p>Let’s work together to save lives and build healthier communities</p>
           </div>
            <div class="row">
                <div class="col-md-6 text">
                    <h2>About Blood Doners</h2>
                    <p>Blood donors are everyday heroes who selflessly give a part of themselves to save others. Blood donation is vital for medical treatments, surgeries, and emergency care. By donating, you help provide critical resources to those in need, from trauma victims to patients battling cancer. Every drop counts, and your contribution can make a life-saving difference.</p>
                    <p>The act of donating blood is simple, yet its impact is profound. Many people depend on regular donations to survive, and without this essential support, countless lives would be at risk. Blood donation remains one of the most important forms of human compassion.</p>
                    <p>There are several myths and misconceptions surrounding blood donation, but the process is safe, regulated, and crucial for maintaining healthy blood supplies in hospitals. When you donate blood, you become part of a community dedicated to ensuring the well-being of others, providing hope and second chances to those in critical conditions. It is a selfless act that reflects the best of humanity.</p>
                    <p>Blood donors truly embody the spirit of generosity, offering a chance at life to complete strangers. By contributing, you help fill a gap in life-saving resources, and for that, the world is a better place. Your small act of kindness resonates far beyond the donation center, creating ripples of hope and healing across communities.</p>
                </div>
                <div class="col-md-6 image">
                    <img src="{% static 'assets/images/about.jpg' %}" alt="">
                </div>
            </div>
       </div>
   </section>
   
{% endblock content %}